body {
  background-color: #f5f5f5; /* Color de fondo temporal */
  height: 100vh;
  margin: 0;
  color: #333;
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
}

h1, h2, h3 {
  color: #388e3c;
}

.btn-primary {
  background-color: #43a047;
  border-color: #388e3c;
}

.btn-primary:hover {
  background-color: #66bb6a;
}

.pregunta, .respuesta {
  background-color: #f1f8e9;
  border: 1px solid #c8e6c9;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-control {
  border: 1px solid #c8e6c9;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #43a047;
  box-shadow: 0 0 5px rgba(67, 160, 71, 0.5);
}
