<div class="filtros">
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select [formControl]="estadoSeleccionado" title="Selecciona el estado de pago" placeholder="Selecciona un estado">
      <mat-option value="">Todos</mat-option>
      <mat-option value="Procesado">Procesado</mat-option>
      <mat-option value="Pendiente">Pendiente</mat-option>
      <mat-option value="Fallido">Fallido</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha</mat-label>
    <input matInput [formControl]="fechaSeleccionada" type="date" title="Selecciona una fecha" placeholder="Selecciona la fecha"/>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="filtrarPagos()">Filtrar</button>
  <button mat-raised-button color="accent" (click)="obtenerTodos()">Restablecer</button>
</div>
